html {
	position: relative;
	min-height: 100%;
}

body {
	margin-bottom: 60px;
	background-color: #BFCDE3;
}

body,
h1,h2,h3,h4,h5,h6 {
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
}

.navbar {
 margin-top: 50px;
}

tt {
	background-color: #DDD;
}


/******************************************************************************/
/* Filter tokenizer */


.filter-tokenizer {
	width:100%;
	border: 1px solid #ccc;
	border-radius: 5px;
	padding:10px;
	font-size: 90%;
	display:table;
}

.filter-tokenizer:first-child {
		padding-left: 0;
		padding-top:0;
		padding-bottom:0;
}

.filter-tokenizer .input-group-addon {
	border: 0px;
	border-right: 1px solid #ccc;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	display: table-cell;
}

.filter-tokenizer .token-collection {
	display: table-cell;
}

.filter-tokenizer .typeahead {
  overflow:auto;
  display:block;
}

.filter-tokenizer .typeahead-token {
	display: block;
	float:left;

	background-color: #e8e8e8;
	background-image: linear-gradient(
      #f0f0f0, #e0e0e0
    );
	border: 1px solid #ccc;
	border-radius: 2px;

	margin:3px;
	padding:5px;

	font-weight:bold;
}


.filter-input-group {
	border: 0px;
	border-radius: 2px;

	overflow:auto;
  display:block;

	margin:3px;
	padding:5px;
}

.filter-input-group .filter-category, .filter-input-group .filter-operator, .filter-input-group .filter-value {
	overflow:auto;
	display: block;
	float:left;
	font-weight: bold;
	margin-right: 5px;
}

.filter-tokenizer .typeahead input {
	outline:0;
	border:0px;
	width:100%;
}

.filter-tokenizer .typeahead input:focus {outline:0;}

.filter-tokenizer ul.typeahead-selector {
	z-index:100;
	position:absolute;
	list-style: none;
	margin: 0px;
	padding: 0px;
	background-color:#f8f8f8;
	border: 1px solid #222;
	width:200px;
	max-height:200px;
	overflow-y:auto;

	box-shadow: 5px 5px 5px #888888;
}

.filter-tokenizer ul.typeahead-selector li {
	z-index:9999;
	border-bottom: 1px solid #ccc;
	background-image: linear-gradient(
      #ffffff, #f0f0f0
    );
}

.filter-tokenizer ul.typeahead-selector li.header {
	background-image: none;
	background-color: #B0B0B0;
	color: #ffffff;
	font-weight: bold;
	padding:5px;
}


.filter-tokenizer ul.typeahead-selector li a {
	color: #000;
	padding:5px;
	width:100%;
	display:block;
}

.filter-tokenizer ul.typeahead-selector li a:hover, .filter-tokenizer ul.typeahead-selector .hover a {
	text-decoration: none;
	background-color: #00f;
	color: #fff;
}

/******************************************************************************/
.datepicker__triangle {
	margin-top: -8px;
	margin-left: -8px;
}
.datepicker__triangle, .datepicker__triangle:before {
	box-sizing: content-box;
	position: absolute;
	border: 8px solid transparent;
	height: 0;
	width: 1px;
	border-top: none;
	border-bottom-color: #f0f0f0;
}
.datepicker__triangle:before {
	content: "";
	z-index: -1;
	border-width: 8px;
	top: -1px;
	left: -8px;
	border-bottom-color: #aeaeae;
}

.datepicker {
	font-size: 11px;
	background-color: #fff;
	color: #000;
	border: 1px solid #aeaeae;
	border-radius: 4px;
	display: inline-block;
	position: relative;

	box-shadow: 5px 5px 5px #888888;
}

.datepicker__container {
	position: absolute;
	display: inline-block;
	z-index: 2147483647;
}

.datepicker__triangle {
	position: absolute;
	left: 50px;
}

.datepicker__header {
	text-align: center;
	background-color: #f0f0f0;
	border-bottom: 1px solid #aeaeae;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	padding-top: 8px;
	position: relative;
}

.datepicker__current-month {
	color: black;
	font-weight: bold;
	font-size: 13px;
}

.datepicker__navigation {
	line-height: 24px;
	text-align: center;
	cursor: pointer;
	position: absolute;
	top: 10px;
	width: 0;
	border: 6px solid transparent;
}
.datepicker__navigation--previous {
	left: 10px;
	border-right-color: #ccc;
}
.datepicker__navigation--previous:hover {
	border-right-color: #b3b3b3;
}
.datepicker__navigation--next {
	right: 10px;
	border-left-color: #ccc;
}
.datepicker__navigation--next:hover {
	border-left-color: #b3b3b3;
}

.datepicker__week-day {
	color: #ccc;
	display: inline-block;
	width: 28px;
	line-height: 24px;
}

.datepicker__month {
	margin: 5px;
	text-align: center;
}

.datepicker__day {
	color: #000;
	display: inline-block;
	width: 24px;
	line-height: 24px;
	text-align: center;
	margin: 2px;
	cursor: pointer;
}
.datepicker__day:hover {
	border-radius: 4px;
	background-color: #f0f0f0;
}
.datepicker__day--today {
	font-weight: bold;
}
.datepicker__day--selected {
	border-radius: 4px;
	background-color: #216ba5;
	color: #fff;
}
.datepicker__day--selected:hover {
	background-color: #1d5d90;
}
.datepicker__day--disabled {
	cursor: default;
	color: #ccc;
}
.datepicker__day--disabled:hover {
	background-color: transparent;
}

.datepicker__input {
	position: relative;
	line-height: 16px;
}
.datepicker__input:focus {
	outline: none;
}
